body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.main-view.ng-enter {
  -webkit-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.atletas-table.ng-hide-remove {
  opacity: 0;
  -webkit-animation: fadeInDown .5s;
  -o-animation: fadeInDown .5;
  animation: fadeInDown .5s;
}

.atletas-table.ng-hide-add {
  -webkit-animation: fadeOutDown .5s;
  -o-animation: fadeOutDown .5s;
  animation: fadeOutDown .5s;
}