<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Atletas</h3>
      </div>
      <div class="panel-body">
        <form ng-submit="addAtleta()" class="form-vertical" role="form" name="novoAtletaForm">
          <div class="form-group">
            <label for="atleta-numero" class="sr-only">Atleta</label>
            <input required type="text" class="form-control" id="atleta-numero"
                   data-ng-model="novoAtleta.numero" placeholder="Nº Atleta">
          </div>
          <div class="form-group">
            <label for="atleta-categoria" class="sr-only">Categoria</label>
            <select required id="atleta-categoria" class="form-control"
              ng-model="novoAtleta.categoria"
              ng-options="categoria for categoria in categorias track by categoria"></select>
          </div>
          <button type="submit" class="btn btn-primary btn-block" ng-disabled="novoAtletaForm.$invalid">
            <span class="glyphicon glyphicon-plus"></span> Atleta
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Saídas</div>
      </div>
      <div class="panel-body">
        <form ng-submit="addSaida()" class="form" role="form" name="atletaSaidaForm">
          <div class="form-group">
            <label for="atletaSaida" class="sr-only">Atleta</label>
            <input required type="text" class="form-control" id="atletaSaida"
                   ng-model="data.atletaSaida" placeholder="Nº Atleta">
          </div>
          <div class="form-group">
            <label for="horarioSaida" class="sr-only">Horário</label>
            <input required type="text" class="form-control" id="horarioSaida"
                   ng-model="data.horarioSaida" placeholder="Horário de Saída">
          </div>
          <button type="submit" class="btn btn-primary btn-block" ng-disabled="atletaSaidaForm.$invalid">
            <span class="glyphicon glyphicon-plus"></span> Registrar Saída
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">Chegadas</div>
      </div>
      <div class="panel-body">
        <form ng-submit="addChegada()" class="form" role="form" name="atletaChegadaForm">
          <div class="form-group">
            <label for="atletaChegada" class="sr-only">Atleta</label>
            <input required type="text" class="form-control" id="atletaChegada"
                   ng-model="data.atletaChegada" placeholder="Nº Atleta">
          </div>
          <button class="btn btn-primary btn-block" ng-disabled="atletaChegadaForm.$invalid">
            <span class="glyphicon glyphicon-plus"></span> Registrar Chegada
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div ng-show="atletas.cadastrados.length > 0" class="atletas-table">
    <div class="col-sm-12">
      <table class="table table-bordered" ng-table="tableParams" export-csv="exporter">
        <tbody ng-repeat="categoria in $groups">
          <tr class="ng-table-group">
              <td colspan="{{ $columns.length }}">
                  <a href="" ng-click="categoria.$hideRows = !categoria.$hideRows">
                      <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': categoria.$hideRows, 'glyphicon-chevron-down': !categoria.$hideRows }"></span>
                      <strong>{{ categoria.value }}</strong>
                  </a>
              </td>
          </tr>
          <tr ng-hide="categoria.$hideRows" ng-repeat="atleta in categoria.data">
            <td data-title="'Atleta'">{{ atleta.numero }}</td>
            <td data-title="'Categoria'">{{ atleta.categoria }}</td>
            <td data-title="'Partida'">{{ atleta.saida }}</td>
            <td data-title="'Chegada'">{{ atleta.chegada }}</td>
            <td data-title="'Tempo'">{{ atleta.tempo }}</td>
            <td class="text-center">
              <button class="btn btn-default btn-danger btn-xs"
                      ng-click="removeRecord(atleta)">
                <span class="glyphicon glyphicon-remove"></span> Remover
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div ng-show="atletas.cadastrados.length > 0">
    <div class="col-sm-12">
      <div class="btn-group">
        <button type="button" class="btn btn-danger" ng-click="destroy()">Apagar Dados</button>
        <a class="btn btn-primary" ng-mousedown="exporter.generate()" ng-href="{{ exporter.link() }}" download="test.csv">Export to CSV</a>
      </div>
    </div>
  </div>
</div>
